<div class="col-md-3">
  <%= render 'users/user_info' %>
  <%= render 'books/new_book' %>
</div>

<div class="col-md-8">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :image %></th>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
